<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>
      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :fullname %>
    <%= form.text_field :fullname, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :username %>
    <%= form.text_field :username, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :faculty_id %>
    <%= form.select :faculty_id, options_for_select(Faculty.all.map { |f| [f.name, f.id] }), {}, {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-primary faculty-brn' %>
  </div>
<% end %>
