<h2 class="testujeme">Editing Person</h2>

<%= render 'form', person: @person %>

<div class="btn-group faculty-brn" role="group" aria-label="Basic example">
  <%= link_to 'Show', @person, class: "btn btn-primary" %> |
  <%= link_to 'Back', people_path, class: "btn btn-primary" %>
</div>