<h1 class="testujeme">People</h1>


<table class="table table-hover tbl">
  <thead>
  <tr>
    <th scope="col">Fullname</th>
    <th scope="col">Email</th>
    <th scope="col">Username</th>
    <th scope="col">Faculty</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td><%= person.fullname %></td>
      <td><%= person.email %></td>
      <td><%= person.username %></td>
      <td><%= person.faculty_id %></td>
      <td>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
          <%= link_to 'Show', person, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_person_path(person), class: "btn btn-primary" %>
          <%= link_to 'Destroy', person, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary" %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Person', new_person_path, class: "btn btn-primary" %>
