<h2 class="testujeme">Person detail</h2>

<p>
  <strong>Fullname:</strong>
  <%= @person.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @person.username %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @person.faculty_id %>
</p>
<table class="table table-hover tbl">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Release date</th>
    <th scope="col">Abstract</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @person.publications.each do |publication| %>
    <tr>
      <td><%= publication.title %></td>
      <td><%= publication.release_date %></td>
      <td><%= publication.abstract %></td>
      <td>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
          <%= link_to 'Show', publication, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_publication_path(publication), class: "btn btn-primary" %>
          <%= link_to 'Destroy', publication, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary" %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br/>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to 'Edit', edit_person_path(@person), class: "btn btn-primary" %> |
  <%= link_to 'Back', people_path, class: "btn btn-primary" %>
</div>