<%= form_with(model: publication, local: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
        <% publication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, required: true, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :release_date %>
    <%= form.date_select :release_date, {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :abstract %>
    <%= form.text_area :abstract,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :person_id %>
    <%= form.select :person_id, options_for_select(Person.all.map { |f| [f.fullname, f.id] }), {}, {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-primary faculty-brn' %>
  </div>
<% end %>
