<h2 class="testujeme">Editing Publication</h2>

<%= render 'form', publication: @publication %>


<div class="btn-group faculty-brn" role="group" aria-label="Basic example">
  <%= link_to 'Show', @publication, class: "btn btn-primary" %> |
  <%= link_to 'Back', publications_path, class: "btn btn-primary" %>
</div>