<h1 class="testujeme">Publications</h1>

<table class="table table-hover tbl">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Release date</th>
    <th scope="col">Abstract</th>
    <th scope="col">Person</th>
    <th scope="col">Published</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @publications.each do |publication| %>
    <tr>
      <td><%= publication.title %></td>
      <td><%= publication.release_date %></td>
      <td><%= publication.abstract %></td>
      <td><%= publication.person_id %></td>
      <td><%= publication.release_date < DateTime.now %></td>

      <td>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
          <%= link_to 'Show', publication, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_publication_path(publication), class: "btn btn-primary" %>
          <%= link_to 'Destroy', publication, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary" %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path, class: "btn btn-primary" %>
