<h2 class="testujeme">Publication detail</h2>
<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @publication.release_date %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @publication.abstract %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= Person.find(@publication.person_id).fullname %>
</p>

<p>
  <strong>Publisher's faculty:</strong>
  <%= Faculty.find(Person.find(@publication.person_id).faculty_id).name %>
</p>

<br/>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to 'Edit', edit_publication_path(@publication), class: "btn btn-primary" %> |
  <%= link_to 'Back', publications_path, class: "btn btn-primary" %>
</div>