<h2 class="testujeme">Editing Faculty</h2>

<%= render 'form', faculty: @faculty %>

<div class="btn-group faculty-brn" role="group" aria-label="Basic example">
  <%= link_to 'Show', @faculty, class: "btn btn-primary" %> |
  <%= link_to 'Back', faculties_path, class: "btn btn-primary" %>
</div>