<h1 class="testujeme">Faculties</h1>

<table class="table table-hover tbl">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Code</th>
    <th scope="col">Note</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @faculties.each do |faculty| %>
    <tr>
      <td><%= faculty.name %></td>
      <td><%= faculty.code %></td>
      <td><%= faculty.note %></td>
      <td>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
          <%= link_to 'Show', faculty, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_faculty_path(faculty), class: "btn btn-primary" %>
          <%= link_to 'Destroy', faculty, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary" %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faculty', new_faculty_path, class: "btn btn-primary" %>
