<h2 class="testujeme">Faculty detail</h2>

<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @faculty.code %>
</p>

<p>
  <strong>Note:</strong>
  <%= @faculty.note %>
</p>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to 'Edit', edit_faculty_path(@faculty), class: "btn btn-primary" %> |
  <%= link_to 'Back', faculties_path, class: "btn btn-primary" %>
</div>