// Place all the styles related to the faculties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.faculty_header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.faculty-brn {
  margin: 0.25rem;
  min-width: 6rem;
}

.test {
 width: 6rem;
}

